@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/csbook.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: theme("colors.secondary-dark");
  height: 100vh;
}
